body{
  text-align: center;
  background-color: #957DAD;
}

.container {
  text-align: center;
  display: inline-block;
  margin-top: 110px;
}
#first-name {
  margin: 22px;
  width: 318px;
  height: 37px;
  padding: 8px;
}
#last-name {
  margin: 22px;
  width: 318px;
  height: 45px;
  padding: 8px;
  position: relative;
  bottom: 34px;
}
#email {
  margin: 22px;
  width: 318px;
  height: 45px;
  padding: 8px;
  position: relative;
  bottom: 69px;
}
#password {
  margin: 22px;
  width: 318px;
  height: 45px;
  padding: 8px;
  position: relative;
  bottom: 103px;
}
#confirmPassword{
  margin: 22px;
  width: 318px;
  height: 45px;
  padding: 8px;
  position: relative;
  bottom: 103px;
}

.t-c {
  position: relative;
  bottom: 100px;
  right: 13px;
}
a {
  text-decoration: none;
}
#create-account {
  position: relative;
  bottom: 65px;
  width: 300px;
  height: 49px;
  background-color: violet;
  border-radius: 1px solid #fff;
}
#create-account:hover{
  background-color: #FFDFD3;
}
