body
{
    margin: 0px;
}

.main-div
{
    height: 300px;
    width: 500px;
    background-color: black;
    color: white;
    padding-top: 220px;
    padding-left: 50px;
    font-size: xx-large;
    font-weight: bolder;
}
.main-div button
{
    display: block;
    background-color: skyblue;
    height: 40px;
    width: 100px;
    font-weight: bolder;
    font-size: large;
    margin-top: 100px;
    border: none;
    border-radius: 5px;
}